<ngx-smart-modal #myModal identifier="myModal">
  <div class="nsm-body">
    <h2>Yuri Luiz Thielmann Duque</h2>
  </div>
  <div class="container pt-3">
    <ul class="list-inline">
      <li class="list-inline-item font-weight-bold">CPF:</li>
      <li class="list-inline-item">000.000.000-01</li>
    </ul>
    <ul class="list-inline">
      <li class="list-inline-item font-weight-bold">Idade:</li>
      <li class="list-inline-item">22</li>
    </ul>
  </div>

  <button (click)="myModal.close()">Close</button>
</ngx-smart-modal>
