<div class="row mt-2">
  <div class="col-md-10"><h2 class="title">{{tituloFormulario}}</h2></div>
  <div class="col-md-2"><button type="button" class="btn btn-success float-right mt-1" [routerLink]="['/alunos']">Voltar</button></div>
</div>

<form class="pt-3" #form="ngForm" (ngSubmit)="onSubmit(form)">

  <div class="form-group">
    <label for="alunoNome" class="font-weight-bold">Nome:</label>
    <input type="text" class="form-control" name="nome" id="alunoNome" placeholder="Escreva o nome do aluno!" 
      [(ngModel)]="aluno.nome" required #nome="ngModel">
      <div class="alert alert-danger" *ngIf="!nome.valid && nome.touched">
        Nome é obrigatório!
      </div>
  </div>

  <div class="form-row">
    <div class="col-md-3">
        <label for="alunoIdade" class="font-weight-bold">Idade:</label>
        <input type="number" class="form-control" name="idade" id="alunoIdade" placeholder="Idade do aluno!" 
          [(ngModel)]="aluno.idade" required #idade="ngModel">
          <div class="alert alert-danger" role="alert" *ngIf="!idade.valid && idade.touched">
            Idade é obrigatória!
          </div>
    </div>

    <div class="col">
      <label for="alunoCPF" class="font-weight-bold">CPF:</label>
      <input type="text" class="form-control" name="cpf" id="alunoCPF" placeholder="000.000.000-00" 
        [(ngModel)]="aluno.cpf" required #cpf="ngModel" cpfValidator mask='{000.000.000-00}'>
        <div class="alert alert-danger" role="alert" *ngIf="!cpf.valid && cpf.touched">
          CPF é obrigatório!
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="!cpfValidator() && cpf.touched">
          CPF é inválido! (Ex.: 000.000.000-00)
        </div>
        <div class="alert alert-success" role="alert" *ngIf="cpfValidator() && cpf.touched">
          CPF é válido! (Ex.: 000.000.000-00)
        </div>
      </div>
  </div>

  <button type="submit" class="btn btn-primary mt-3" [disabled]="!form.form.valid"> {{textoBotaoSubmit}}</button>
</form>