<div class="row mt-2">
  <div class="col-md-10"><h2 class="title">Listagem Alunos</h2></div>
  <div class="col-md-2"><button type="button" class="btn btn-success float-right" [routerLink]="['cadastro']">Cadastrar Aluno</button></div>
</div>
  
<div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col" *ngFor="let coluna of colunas">
            {{ coluna }}
        </th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let aluno of alunos">
            <th>{{aluno.Nome}}</th>
            <th>{{aluno.CPF}}</th>
            <th>{{aluno.Idade}}</th>
            <th class='th-menu-actions'>
              <button type="button" class="btn btn-info" [routerLink]="['detalhes']" [queryParams]="{id: aluno.Id}">Detalhes</button>
              <button type="button" class="btn btn-warning" [routerLink]="['alterar']" [queryParams]="{id: aluno.Id}">Alterar</button>
              <button type="button" class="btn btn-danger">Remover</button>
            </th>
        </tr>
    </tbody>
  </table>
</div>
